* {
    padding: 0;
    margin: 0;
    font-family: sans-serif
}

/*                       start nav                             */
nav {
    display: flex;
    justify-content: space-around;
    background-color: #F6C166;
    padding: 20px;
    font-weight: 300;
}

ul {
    display: flex;
    align-items: center;

}

ul li {
    list-style: none;
    padding: 0 20px;


}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;

}

ul li:hover a {

    color: white
}

.logo_nav {
    margin: 0 20px;
}

.button .Log_in {
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin: 5px;
    padding: 10px;

}
.button .Log_in:hover{
    background-color: black;
    color: #F6C166;
    border-radius: 20px ;
   
}

.button .Sign_Up {
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: black;
    border: 2px black solid;
    margin: 5px;
    padding: 8px;
    border-radius: 20px;

}
.button .Sign_Up:hover{
    background-color: white;
    color: black;
}

/*                        end nav                               */

/*                     start header                         */
header {
    background-color: #F6C166;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 0 0;
}

.content_header {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 0;

}


h1 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 40px;
    letter-spacing: 2px;
    padding: 20px 20px 20px 0;
    margin-right: 20px;


}

h1 span {
    color: #F6C166;
    background-color: black;
    border: 1px;
    border-radius: 20px;
    padding: 9px;

}

.content {
    margin-right: 20px;
    padding: 20px 0 20px 20px;

}

.content p {
    padding: 0 0 20px 0;
}

.enroll {
    color: black;
    background-color: #F6C166;
    border-radius: 20px;
    padding: 10px 20px 10px 20px;
}

.enroll:hover {
    background-color: black;
    color: white;
}

.image_header {
    display: flex;
    align-items: center;
    margin: 20px 0 0 20px;
    padding: 20px 0 0 0;
}

/*                       end  header                    */

/*                       start stats                           */
.stats {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    margin: 20px 0;
}

.stat {
    padding: 20px;
    margin: 0 20px;
}

.stat h2 {
    font-size: 40px;
    font-weight: 700;
}

.stat p {
    font-size: 20px;
    font-weight: 200;
}

.stats span {
    font-size: 40px;
    font-weight: 400;
}

/*                        end stats                             */

/*                       start About                              */
.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: antiquewhite;
    margin: 20px 0;
    padding: 20px;
}

.image_about {
    padding: 20px;

}

.about_section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
}

.about_section h2 {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 0 0 5px 0;


}

.about_span {
    background-color: #F6C166;
    color: black;
    border: 1px black solid;
    border-radius: 30px;
    padding: 2px 5px;
}

.about .about_section p {
    padding: 10px 0 0 0;
}

/*                         end About                                      */

/*                     start Features Section                     */
.features {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(255, 252, 252);
    margin: auto;
    padding: 20px 20px;

}

.feature_1 {
    width: 53%;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 30px 20px 20px;
    z-index: 1;

}

.feature_1 h2 {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 20px;
}

.feature_1 h2 span {
    color: #F6C166;
}

.see_Features {
    background-color: #F6C166;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 10px;
    font-size: 20px;
}
.see_Features:hover{
    background-color: white;
    color:black;
}

.feature {
    width: 20%;
    background-color: white;
    color: black;
    border: 2px black solid;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}


.feature h3 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 8px;
}

.feature P {
    margin: 5px;
}

/*                      end Features Section                                */

/*                       start Courses Section                               */
.courses {

    background-color: black;
    padding: 30px 0;
}

.courses h2 {
    color: white;
    display: flex;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 1px;

}

.courses h2 span {
    color: #F6C166;
    border: 2px #F6C166 solid;
    border-radius: 30px;
    padding: 5px;


}

.course_list {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.course {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    background-color: white;
    border-radius: 20px;


}

.image_course {

    padding: 20px;
    margin: 20px;
}

.grammar {
    margin: 20px;
    padding: 20px;
}

.course h3 {
    font-size: 25px;
    font-weight: 700;
    padding: 20px;
    margin: 20px 0;

}

.btn_course {
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 10px 20px;
    margin-left: 10px;
}

.btn {
    background-color: #F6C166;
}
.btn_course:hover{
    color: white;
    background-color: black;
}

/*              end Courses Section                                 */

/*              start Learn                                       */
.Learn {
    display: flex;
    justify-content: space-around;
    padding: 20px;

}

.Learn_content {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 10px;
    padding: 20px;
}

.start {
    padding: 20px;
    margin: 20px 0;
}

.start h2 {
    font-size: 40px;
    font-weight: 800;
}

.start h2 span {
    background-color: #F6C166;
    border: 1px black solid;
    padding: 6px;
    border-radius: 40px;

}

.start p {
    font-size: 20px;
    font-weight: 200;
    margin: 20px 0;
    padding: 20px 0 0 0;
}

.list {
    display: flex;
    flex-direction: column;

}

.list h3 {
    margin: 10px;
}

.list h3 span {
    background-color: #F6C166;
    border-radius: 100px;
    margin: 4px;
    padding: 1px 8px;
}

.image_learn {
    margin: 20px;
    padding: 20px;
}

/*              end Learn                                       */

/*                start Get Started Section            */
.Get_Started {
    width: 80%;
    background-color: #F6C166;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border-radius: 50px;
    position: relative;
    margin-bottom: -50px;
}

.content_get {
    padding: 10px;
}

.image_get_started {
    padding: 10px 10px 0 10px;
}

.content_get h2 {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 10px;
}

.content_get p {
    margin: 10px;
    font-size: 20px;
}

.btn_get {
    background-color: black;
    color: #F6C166;
    padding: 10PX 20px;
    margin: 10px;
    border-radius: 40px;
    letter-spacing: 1PX;
}
.btn_get:hover{
    color:black;
    background-color: white;
}

/*                end Get Started Section            */

/*                start Mobile App Section            */
.mobile_app {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
   
}

.mobile_app h2 {
    font-size: 40px;
    font-weight: 800;
    margin: 20px;
}

.mobile_app h2 span {
    background-color: #F6C166;
    border: 1px black solid;
    padding: 6px;
    border-radius: 40px;

}

.mobile_app ul {
    margin: 20px 0 0 0 ;
}


/*                end  Mobile App Section            */

/*                start footer                       */
footer{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
}
.content_footer{
    width: 80%;
    color: white;
    background-color: black;
    border-radius: 40px;
    display: flex;
    justify-content: space-evenly;
}
.footer{
    padding: 20px;
    color: white;
}
.logo_footer{
    margin: 10px 0 20px 10px;
    
}
.footer p{
    margin:10px ;
}
.footer h4{
    margin: 10px; 
    padding: 0 0 0 10px;
}
.footer ul{
    display: flex;
    flex-direction: column;
padding: 10px 10px 0 0;
}
.footer ul li {
    list-style: none;
   margin: 8px;
}
.footer ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 400;

}
.footer ul li:hover a {

    color:#F6C166
}